In [102]:
#!pip install -r requirements.txt
# Remove above comment before first run

In [103]:
import pandas as pd

df = pd.read_csv('data/crime_chicago.csv')

In [104]:
df = df[['ID', 'Date', 'Primary Type', 'Description', 'Location Description']]

# Renaming columns to fit into INSERT statement syntax
DDL = '''
    CREATE TABLE IF NOT EXISTS chicago_theft (
        id BIGINT PRIMARY KEY,
        date VARCHAR(255),
        ptype VARCHAR(255),
        description VARCHAR(255),
        location VARCHAR(255)
    );
    '''

df.rename(columns={'ID': 'id', 'Date': 'date', 'Primary Type': 'ptype', 'Description': 'description',
                   'Location Description': 'location'}, inplace=True)

In [105]:
df = df[df['ptype'] == 'THEFT']
df.set_index('id', inplace=True)
df_reset = df.reset_index(drop=True)

df[:5]

,date,ptype,description,location
id,,,,
1930689,01/05/2002 09:24:00 PM,THEFT,$500 AND UNDER,GAS STATION
13210062,08/27/2023 07:00:00 AM,THEFT,$500 AND UNDER,APARTMENT
13210060,08/15/2023 02:20:00 PM,THEFT,OVER $500,RESIDENCE - PORCH / HALLWAY
13210071,09/03/2023 10:27:00 AM,THEFT,FROM BUILDING,APARTMENT
13210035,08/17/2023 07:00:00 AM,THEFT,$500 AND UNDER,STREET

In [119]:
from sqlalchemy import create_engine

#Placeholder localhost login
mysql_config = {
    'user': 'pycharm',
    'password': 'testtest-123',
    'host': 'localhost',
    'database': 'crime'
}

engine = create_engine(
    f"mysql+mysqlconnector://{mysql_config['user']}:{mysql_config['password']}@{mysql_config['host']}/{mysql_config['database']}")

#Use only third of the data atm
df[:len(df)-1:3].to_sql(name='chicago_theft', con=engine, if_exists='append')

555746

In [115]:
len(df)

1667237