In [90]:
import matplotlib.pyplot as plt
import pandas as pd

In [91]:
data = pd.read_csv('September_MTTR.csv')

In [ ]:
data['MTTR']

In [ ]:
data_cleared = data[data['Number of stops'] > 2]
data_cleared = data_cleared[['Machine name','Number of stops','MTTR']]
data_cleared = data_cleared[data_cleared['MTTR'] != "0:00:00"]
data_cleared = data_cleared.head() # Return the top 5 values
data_cleared

In [ ]:
def to_sec():
    time = [string.split(':') for string in list((data_cleared['MTTR']))]
    second = []

    for i in range(len(time)):
        second.append(int(time[i][0]) * 3600 + int(time[i][1]) * 60 + int(time[i][2]))
    return second

print(to_sec())

In [ ]:
machines = list(data_cleared['Machine name'])
mttr = list(data_cleared['MTTR'])
values = to_sec()

In [ ]:
mttr = mttr[::-1]
mttr

In [ ]:
machines = machines[::-1]
machines

In [ ]:
values = values[::-1]
values

In [ ]:
# Increase the figure size
plt.figure(figsize=(10, 8))

# Create the vertical bar plot
plt.bar(machines, values, width = 0.3)
#plt.xlabel('Machine name', fontweight = 'bold')
plt.ylabel('MTTR in seconds')
plt.title('MTTR')

# Rotate X-axis labels for readability
plt.xticks()

# Display the MTTR values on top of the bars
for i in range(len(values)):
    plt.text(i, values[i] + 100, mttr[i], ha='center', va='bottom')

#plt.gca().invert_yaxis()  # Invert the Y-axis to display the first machine at the top
plt.tight_layout()
plt.show()